#!/bin/bash

if [ -f "{{ vagrant_id_file }}" ]; then
  __vagrantid=$(head -1 {{ vagrant_id_file }})
  if [ ! -z "${__vagrantid}" ]; then
    export PROMPT_COMMAND='PS1=`echo "[\u@\h \W]<\[\e[1;31;43m\] ${__vagrantid} \[\e[m\]>\$ "`'
  fi
fi
